@import "./Board.css";
@import "./NumberInput.css";
@import "./Dashboard.css";

.App {
  text-align: center;
  min-height: 100vh;
}

header {
  background-color: #282c34;
  color: white;
  min-height: 10vh;
}

footer {
  background-color: #282c34;
  color: white;
  min-height: 10vh;
}

#start {
  height: 50px;
  width: 150px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  user-select: none;
  background-color: lightgray;
  margin: 10px;
}

#start:hover {
  background-color: grey;
  cursor: pointer;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 80vh;
}

select {
  border-style: solid;
  border-color: black;
  width: 200px;
}
