.App {
  text-align: center;
  min-height: 100vh;
}

header {
  background-color: #282c34;
  color: white;
  height: 100px;
}

footer {
  background-color: #282c34;
  color: white;
  height: 50px;
}

.body {
  min-height: 60%;
}

#start {
  height: 20px;
  width: 100px;
  border-style: solid;
  user-select: none;
}

#start:hover {
  background-color: grey;
  cursor: pointer;
}
